<script id="events-template" type="text/x-handlebars-template">
  <table>
    <thead>
      <tr>
        <th><%= t("historical.date") %></th>
        <th><%= t("historical.address") %></th>
        <th><%= t("historical.speed") %></th>
        <th><%= t("historical.place") %></th>
      </tr>
    </thead>
    <tbody>
      {{#each models}}
        <tr>
          <td>{{attributes.date}}</td>
          <td>{{attributes.address}}</td>
          <td>{{attributes.speed}}</td>
          <td>{{attributes.place_id}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</script>
