$(function() {

  var goto = function (location) {
    window.location = location;
  };

  Ext.define('Gowane.Widgets.Menu', {
    extend: 'Ext.panel.Panel',
    alias: 'widget.menu',
    border: false,
    tbar: [
      {text: 'Suivi', menu: [
        {text: 'Temps réel', handler: function() { goto("/map/realtime") }},
        {text: 'Historique', handler: function() { goto("/map/historical")}}
      ]},'-',
      {text: 'Rapports', menu: [
        {text: 'Rapport GPS', handler: function() { goto("/reports/gps") }},
        {text: 'Rapport de distance', handler: function() { goto("/reports/distance")}},
        {text: "Rapport d'arret", handler: function() { goto("/reports/stop")}}
      ]},
      '-',
      {text: 'Alarmes', handler: function() { goto("/alarms") }},
      '-',
      {text: "Points d'intéret", handler: function() { goto("/places") }},
      '-',
      {text: 'Administration', menu: [
        {text: 'Clients', handler: function() { goto("/accounts") }},
        {text: 'Utilisateurs', handler: function() { goto("/users") }},
        {text: 'Véhicules', handler: function() { goto("/devices") }}
      ]},
      {xtype: 'tbfill', width: 50, maxWidth: 50, minWidth: 50},
      {xtype: 'tbtext', text: 'Account: '},
      {xtype: 'combo'},
      {xtype: 'tbfill'},
      {xtype: 'button',
        text: 'Help',
        handler: function() {
          Ext.create('Gowane.Widgets.HelpWindow', {loader: {url: "/help/" + $.App.Help, autoLoad: true}}).show();
        }
      },
      '-',
      { xtype: 'tbtext', html: "<a href='/user_session' data-method='delete'>Logout</a>", cls: 'menulink'}
    ]
  });

});
