$(function() {
  var goto = function (location) {
    window.location = location;
  };
  Ext.define('Gowane.Widgets.Menu', {
    extend: 'Ext.panel.Panel',
    alias: 'widget.menu',
    border: false,
    tbar: [
      {text: 'Temps réel', icon: "/assets/60-signpost.png", height: 35, width: 110, handler: function() { goto("/map/realtime") }},
      {text: 'Historique', icon: "/assets/60-signpost.png", height: 35, width: 110, handler: function() { goto("/map/historical")}},
      {text: 'Rapports', icon: "/assets/137-presentation.png", height: 35, width: 110, handler: function() { goto("/reports") }},
      {text: 'Alarmes', icon: "/assets/60-signpost.png", height: 35, width: 110, handler: function() { goto("/alarms") }},
      {text: "Points d'intéret", icon: "/assets/60-signpost.png", height: 35, width: 110, handler: function() { goto("/places") }},
      {text: 'Administration', icon: "/assets/20-gear2.png", height: 35, width: 110, menu: [
        {text: 'Clients', handler: function() { goto("/accounts") }},
        {text: 'Utilisateurs', handler: function() { goto("/users") }},
        {text: 'Véhicules', handler: function() { goto("/devices") }}
      ]},
      {xtype: 'tbfill', width: 50, maxWidth: 50, minWidth: 50},
      {xtype: 'tbtext', text: 'Account: '},
      { xtype: 'combo',
        id: 'account_selector',
        store: "AccountStore",
        valueField: 'id',
        displayField: 'name',
        editable: false,
        mode: 'local'
      },
      {xtype: 'tbfill'},
      {xtype: 'button',
        text: 'Help',
        handler: function() {
          Ext.create('Gowane.Widgets.HelpWindow', {loader: {url: "/help/" + $.App.Help, autoLoad: true}}).show();
        }
      },
      '-',
      { xtype: 'tbtext', html: "<a href='/user_session' data-method='delete'>Logout</a>", cls: 'menulink'}
    ]
  });
});
