<script id="geofence-alarm-wizard-template" type="text/x-handlebars-template">
 <div>
   <h1>New Geofence Alarm</h1>
   <p>A geofence alarm is a warning that is sent when a vehicle enters or exits a given zone. You can choose to be notified
   via SMS or email when an alarm occurs.</p>
   <fieldset>
     <label for="geofence_alarm_name">Alarm Name</label>
     <input id="geofence_alarm_name" name="geofence_alarm[name]" type="text" />
     <button class="success btn accept">Accept</button>
     <button class="btn cancel">Cancel</button>
   </fieldset>
 </div>
</script>

