<script id="geofence-alarm-wizard-template" type="text/x-handlebars-template">
 <div>
   <h1><%= t("new") %> <%= t("geofence_alarm")</h1>
   <p><%= t("geofence_alarm_definition") %></p>
   <form>
   <fieldset>
     <label for="geofence_alarm_name">Alarm Name</label>
     <input id="geofence_alarm_name" name="geofence_alarm[name]" type="text" />
     <label>Destinations <a href="#">(+)</a></label>
     <input name="geofence_alarm[destination][]" type="text" value="john.smith@somewhere.com" />
     remove
     <input name="geofence_alarm[destination][]" type="text" value="447843247808" />
     remove
     <input name="geofence_alarm[destination][]" type="text" value="00225224095855" />
     remove
     <button class="success btn accept">Accept</button>
     <button class="btn cancel">Cancel</button>
   </fieldset>
     </form>
 </div>
</script>

