<script id="speed-alarm-wizard-template" type="text/x-handlebars-template">
 <div>
   <h1>New Speed Alarm</h1>
   <p>A speed alarm is a warning that is sent when a vehicle goes over a certain speed. You can choose to be notified
   via SMS or email when an alarm occurs.</p>
   <fieldset>
     <label>Alarm Name</label>
     <input type="text" name="speed_alarm[name]" />
     <label>Speed Limit</label>
     <input name="speed_alarm[speed]" type="text" />
     <button class="success btn accept">Accept</button>
     <button class="btn cancel">Cancel</button>
   </fieldset>
 </div>
</script>



