<script id="speed-alarm-wizard-template" type="text/x-handlebars-template">
 <div class='wizard'>
   <a class="close" href="#">x</a>
   <h1>New Speed Alarm</h1>
   <p>A speed alarm is a warning that is sent when a vehicle goes over a certain speed. You can choose to be notified
   via SMS or email when an alarm occurs.</p>
   <div class="field">
     <label>Alarm Name</label>
     <input type="text" name="speed_alarm[name]" />
   </div>
   <div class="field">
     <label>Speed Limit</label>
     <input name="speed_alarm[speed]" type="text" />
   </div>
   <button class="blue-button next" value="Accept" style="position: relative; left: 3px">
     <div>Accept</div>
   </button>
 </div>
</script>



