<script id="speed-alarm-wizard-template" type="text/x-handlebars-template">
 <div class='wizard'>
   <h1>New Speed Alarm</h1>
   <p>A speed alarm is a warning that is sent when a vehicle goes over a certain speed. You can choose to be notified
   via SMS or email when an alarm occurs.</p>
   <div class="field">
     <label>Alarm Name</label>
     <input type="text" />
   </div>
   <div class="field">
     <label>Speed Limit</label>
     <input type="text" />
   </div>
   <input type="button" class="next" value="Accept" />
 </div>
</script>

<script id="speed-alarms-template" type="text/x-handlebars-template">
  <h1 style="font-size: 11px; margin-left: 3px; margin-bottom: 2px">Speed Alarms</h1>
  <table id="speed-alarms" class="sidecolumn">
    {{#each models}}
      <tr>
        <td>
          {{attributes.name}}
        </td>
      </tr>
      {{/each}}
  </table>
</script>


