= render :partial => "speed_alarms"
= render :partial => "geofence_alarms"

:javascript
  $(function() {
    Ext.application({
      name: 'Gowane',
      autoCreateViewport: false,
      controllers: ['Gowane.controllers.Alarms'],
      launch: function() {
        new Ext.Viewport({
          layout : 'border', items : [
            {xtype: 'panel', contentEl: 'menu', region : 'north'},
            {region : 'center', xtype: 'panel', id: "alarm_map", split: false},
            {xtype: 'panel', id: "alarms", region: 'east', width: 300}
          ]
        });
      }
    });
  });
