:javascript
  $(function() {
    Ext.application({
      name: 'Gowane',
      autoCreateViewport: false,
      controllers: ['Gowane.controllers.Alarms'],
      launch: function() {
        Ext.create('Gowane.stores.Geofences', {
          storeId: "GeofenceStore"
        });
        Ext.create('Gowane.stores.Alarms', {
          storeId: "AlarmStore"
        });
        new Ext.Viewport({
          layout : 'border', items : [
            {xtype: 'menu', region : 'north'},
            {xtype: 'panel', region: 'center', layout: {type: 'vbox', pack: 'start', align: 'stretch'}, items: [
              {xtype: 'panel', layout: {type: 'hbox', pack: 'start', align: 'stretch'}, flex: 1, items: [
                {flex: 3, xtype: 'geofence_map', height: 400},
                {flex: 1, xtype: 'full_geofence_list'}
              ]},
              {xtype: 'full_alarm_list', width: '100%', flex: 1}
            ]}
          ]
        });
      }
    });
  });
