:javascript
  $(function() {
    $.App.help = "alarms";
    $.App.account_id = #{session[:account_id]};
    Ext.application({
      name: 'Gowane',
      autoCreateViewport: false,
      controllers: ['Gowane.controllers.Alarms'],
      launch: function() {
        new Ext.Viewport({
          layout : 'border', items : [
            {xtype: 'menu', region : 'north'},
            {xtype: 'panel', region: 'center', layout: {type: 'vbox', pack: 'start', align: 'stretch'}, items: [
              {xtype: 'panel', layout: {type: 'hbox', pack: 'start', align: 'stretch'}, flex: 1, items: [
                {flex: 3, xtype: 'geofence_map', height: 400},
                {flex: 1, xtype: 'geofence_list'}
              ]},
              {xtype: 'panel', layout: {type: 'hbox', pack: 'start', align: 'stretch'}, flex: 1, items: [
                {xtype: 'speed_alarm_list', flex: 1},
                {xtype: 'geofence_alarm_list', flex: 1}
              ]},
            ]}
          ]
        });
      }
    });
  });
