/.bundle
/log/*.log
/tmp
.idea/
.sass-cache/
/config/deploy/*.rb
/config/database.yml
/config/deploy.rb
/config/initializers/geokit.rb
/config/initializers/omniauth.rb
/config/initializers/pusher.rb
/config/initializers/secret_token.rb
