<div id="canvas">
    <div class="listing">
      <table>
        <thead>
          <th>Name</th>
          <th>IMEI Number</th>
          <th>Driver</th>
          <th>Tracker ID</th>
        </thead>
      <% for device in @devices %>
        <tr>
          <td><%= device.display_name %></td>
          <td><%= device.imei_number %></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
      </table>
    </div>
    <div class="editor">
      <fieldset>
        <label>Name</label>
        <input type="text" />
        <label>IMEI Number</label>
        <input type="text" />
        <label>Driver</label>
        <input type="text" />
        <label>Tracker ID</label>
        <input type="text" />
        <button style="margin-top: 15px; margin-bottom: 5px; float: right" class="blue-button"><div>Accept</div></button>
      </fieldset>
    </div>
</div>

    <script type="text/javascript">
  $(function() {

  });
</script>