:javascript
  $(function() {
    new Ext.Viewport({
      layout : 'border',
        items : [
        {
          region: 'north', height : 28, contentEl: "header", id: "ext-header"
        },
        {
          region : 'center',
          layout: {
            type: 'vbox',
            align: 'stretch'
          },
          layoutConfig: {pack: 'start'}, items: [
            Gowane.Components.Grids.Devices
          ]
        }
      ]
    });
    $("#ext-header .x-panel-bwrap").css("overflow", "visible");
    $("#ext-header .x-panel-bwrap .x-panel-body").css("overflow", "visible");
  });