<div id="canvas">
    <div class="listing" style="float: left; margin: auto; margin-top: 100px; left: 80px; width: 800px;">
      <table>
        <thead>
          <th>Name</th>
          <th>IMEI Number</th>
          <th>Driver</th>
          <th>Tracker ID</th>
        </thead>
      <% for device in @devices %>
        <tr>
          <td><%= device.display_name %></td>
          <td><%= device.imei_number %></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
      </table>
    </div>
    <div class="editor" style=" float: left; width: 300px; margin: auto; margin-top: 100px; right: 20px">
      <fieldset>
        <label>Username</label>
        <input type="text" />
        <label>Email</label>
        <input type="text" />
        <label>Role</label>
        <input type="text" />
        <label>Password</label>
        <input type="text" />
        <label>Password Confirmation</label>
        <input type="text" />
      </fieldset>
    </div>
</div>

    <script type="text/javascript">
  $(function() {

  });
</script>