<h3> Devices list </h3>
<table>
  <tr>
    <th> Compte </th>
    <th> Equipement </th>
  </tr>
<% @devices.each do |device| %>
  <tr>
    <th> <%= device.accountID %></th>
    <th> <%= device.deviceID %></th>
  </tr>
<% end %>
</table>
