.blue-button {
  border: 0 none;
  cursor: pointer;
  padding: 0;
  background-color: transparent
}

.blue-button div {
  background-color: #4D90FE;
  background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
  border: 1px solid #3079ED;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  padding: 4px;
  margin: 0;
  width: 80px;
}

@mixin opaque-panel {
  position: absolute; background-color: #333; opacity: 0.8; border-radius: 4px;
  padding: 5px 10px; z-index: 10000; color: white
}

#menu {border-top: 3px solid #333; background-color: #444; font-family: Arial, serif; font-size: 11px}
#menu li {float: left; margin-right: 10px; padding: 5px 10px}
#menu li.current {background-color: #333}
#menu li a, .switcher a {position: relative; top: -5px; color: white; text-decoration: none; font-weight: bold}
#menu li a img, .switcher a img {display: inline-block; margin-right: 3px; position: relative; top: 6px}
#menu li a:hover {color: #ddd}

#canvas .x-panel-body {background-image: url(/assets/map.gif)}

.switcher {@include opaque-panel; bottom: 20px; cursor: pointer}
.switcher a img {margin-right: 7px}
.switcher.places {left: 20px}
.switcher.geofences {left: 125px}
.switcher.speed-alarms {left: 20px}
.switcher.geofence-alarms {left: 190px}

.wizard {@include opaque-panel; width: 347px; bottom: 72px; left: 20px; padding: 10px 15px; line-height: 16px; padding-bottom: 20px}
.wizard p {margin-top: 5px}
.wizard .field {margin-top: 8px}
.wizard .field label {margin-bottom: 3px; display: block}
.wizard .field input[type="text"], .wizard .field select {padding: 5px; width: 100%}
.wizard .next {float: right; margin-top: 15px}

table.sidecolumn {width: 100%}
table.sidecolumn {font-family: Arial; font-size: 11px}
table.sidecolumn td {padding: 5px; line-height: 15px}
table.sidecolumn a {color: white; text-decoration: none}

fieldset label {font-weight: bold; font-size: 13px; display: block; margin-bottom: 5px; margin-top: 10px}
fieldset input, fieldset select {padding: 6px 10px; font-size: 13px; border: 1px solid #666; width: 100%}

.standalone.panel {@include opaque-panel; background-color: white; color: #333; opacity: 1; border: 1px solid #333; padding: 20px}

.map-listing {opacity: 1; right: 20px; top: 30px; position: absolute; background-color: rgba(0, 0, 0, 0.8);
border-radius: 4px; padding: 5px 10px; z-index: 10000; color: white
}

.action.panel {@include opaque-panel; left: 20px; bottom: 70px; height: 310px; width: 220px}

/* Map Actions */

@mixin action-button {
  position: absolute; background-color: #333; opacity: 0.8; border-radius: 4px; padding: 5px 10px; z-index: 10000; color: white;
  position: static; text-decoration: none; margin-top: 15px; display: inline-block; margin-right: 5px
}

@mixin actions {
  display: none; position: absolute; height: 60px;
}

.realtime.actions {@include actions; width: 250px; height: 60px; left: -165px; top: -10px}
.places.actions {@include actions; width: 150px; left: -70px; top: -16px}
.actions a {@include action-button}

/* Map Popups */

@mixin popup {cursor: pointer; border: 1px solid #333; font-size: 10px; padding: 3px; color: #222; background-color: white; margin-left: 10px}
.places.popup {@include popup; margin-top: 6px}

.closelabel {float: right; cursor: pointer}

.map-listing.geofence-alarms {top: 200px; width: 150px}
.map-listing.speed-alarms {width: 150px}

/* Others */

.reports.index .devices {@include opaque-panel; width: 200px; top: 280px; right: 20px; padding-bottom: 10px}
.reports.index .devices li {margin-top: 5px}
.reports.index .devices button {margin-top: 15px; float: right}

.reports.index .presentation {@include opaque-panel; border: 10px solid rgba(100, 100, 100, 0.8); background-color: white; height: 780px; width: 1000px; top: 30px; left: 20px; opacity: 1; color: black}
.reports.index .parameters {@include opaque-panel; height: 230px; width: 200px; top: 30px; right: 20px}
.reports.index .reports {@include opaque-panel; background-color: white; height: 200px; width: 200px; top: 430px; right: 20px; opacity: 1; color: black}