<script id="editor-template" type="text/x-handlebars-template">
  <form>
    <fieldset>
      <label for="user_login">Login</label>
      <input id="user_login" value="{{attributes.login}}" name="login" type="text" />
      <label for="user_email">Email</label>
      <input id="user_email" value="{{attributes.email}}" name="email" type="text"  />
      <label for="user_role">Role</label>
      <select id="user_role" name="role">
        <option value="standard">Standard</option>
        <option value="account_manager">Account Manager</option>
      </select>
      <label for="user_password">Password</label>
      <input id="user_password" type="password" name="password" />
      <label for="user_password_confirmation">Password Confirmation</label>
      <input id="user_password_confirmation" type="password" name="password_confirmation" />
     {{#if attributes}}
        <input  value="{{attributes.id}}" type="hidden" name="id" />
        <button style="margin-top: 15px; margin-bottom: 5px; float: right" class="btn success save"><div>Accept</div></button>
    {{else}}
        <button style="margin-top: 15px; margin-bottom: 5px; float: right" class="btn success create"><div>Accept</div></button>
      {{/if}}
      <button style="margin-top: 15px; margin-bottom: 5px; float: right" class="btn cancel">Cancel</button>
    </fieldset>
  </form>
</script>