:javascript
  $(function() {
    Ext.application({
      name: 'Gowane',
      autoCreateViewport: false,
      controllers: ['Gowane.controllers.Users'],
      launch: function() {
        Ext.create('Gowane.stores.Users', {
          storeId: "UserStore"
        });
        Ext.create('Gowane.stores.Accounts', {
          storeId: "AccountStore"
        });
        new Ext.Viewport({
          layout : 'border',
          items : [
            { xtype: 'menu', region : 'north'},
            { region : 'west', width: 400, xtype: 'account_list', split: true},
            { region : 'center', xtype: 'user_list', layout: 'fit', layoutConfig: {align: 'stretch'}},
          ]
        });
      }
    });
  });
