<%= render :partial => "listing" %>
<%= render :partial => "editor" %>

<div id="canvas">
 <div class="column">
    <div class="listing lionbars"></div>
    <button class="btn new_user primary" style="margin-top: 10px">New User</button>
 </div>
 <div class="editor"></div>
</div>

<script type="text/javascript">
  $(function() {
    new App.Controllers.UsersController({el: "#canvas"});
  });
</script>