    <div id="x" class="standalone-panel" style=" width: 70%; margin: auto; margin-top: 100px; margin-left: 15%">
      <fieldset>
        <label>Username</label>
        <input type="text" />
        <label>Email</label>
        <input type="text" />
        <label>Role</label>
        <input type="text" />
        <label>Password</label>
        <input type="text" />
        <label>Password Confirmation</label>
        <input type="text" />
      </fieldset>
    </div>

<script type="text/javascript">
  $(function() {
    Ext.application({
      name: 'Gowane',
      autoCreateViewport: false,
      controllers: ['Gowane.controllers.Users'],
      launch: function() {
        Ext.create('Gowane.stores.Users', {
          storeId: "UserStore"
        });
        Ext.create('Gowane.stores.Accounts', {
          storeId: "AccountStore"
        });
        new Ext.Viewport({
          layout : 'border',
          items : [
            {xtype: 'panel', contentEl: 'menu', region : 'north'},
            {region : 'center', contentEl: "x", id: "editor", xtype: 'panel', split: false},
            {region : 'east', id: "user_list", width: 400, xtype: 'panel'}
          ]
        });
      }
    });
  });
</script>
