<%= render :partial => "listing" %>
<%= render :partial => "editor" %>

<div id="canvas">
 <div class="column">
    <div class="listing lionbars"></div>
    <button class="btn new_user primary" style="margin-top: 10px"><%= t("new_user") %></button>
 </div>
 <div class="editor"></div>
</div>

<script type="text/javascript">
  $(function() {
    new Trackwane.Controllers.UsersController({el: "#canvas", users: gon.users});
  });
</script>
