<script id="listing-template" type="text/x-handlebars-template">
  <table>
    <thead>
      <tr>
        <th><%= t("report.report") %></th>
        <th><%= t("schedules.format") %></th>
        <th><%= t("email") %></th>
        <th><%= t("schedules.frequency") %></th>
      </tr>
    </thead>
  {{#each models}}
    <tr data-id="{{attributes.id}}">
      <td>{{attributes.report_name}}</td>
      <td>{{attributes.format}}</td>
      <td>{{attributes.email}}</td>
      <td>{{attributes.frequency}}</td>
    </tr>
  {{/each}}
  </table>
</script>
