<%= render :partial => "listing" %>
<%= render :partial => "editor" %>

<div id="canvas">
  <div class="column">
    <div class="listing"></div>
    <button class="new-schedule btn primary">New Schedule</button>
  </div>
  <div class="editor"></div>
</div>

<script type="text/javascript">
  $(function() {
    new App.Controllers.SchedulesController({el: "#canvas"});
  });
</script>