<%= render :partial => "listing" %>
<%= render :partial => "editor" %>

<div id="canvas">
  <div class="listing"></div>
  <div class="editor"></div>
  <div class="toolbar">
    <div class='button'><img src='/assets/103-map.png'><label>New Report Schedule</label></div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    new App.Controllers.SchedulesController({el: "#canvas"});
  });
</script>