<%= render :partial => "listing" %>
<%= render :partial => "editor" %>

<div id="canvas">
  <div class="listing">
    <table>
      <thead>
        <tr>
          <th>Report</th>
          <th>Recipient</th>
          <th>Format</th>
          <th>Email</th>
          <th>Frequency</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Daily Speed Report</td>
          <td>olivier.kouame</td>
          <td>PDF</td>
          <td>olivier.kouame@gmail.com</td>
          <td>Daily</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="editor"></div>
  <div class="toolbar">
    <div class='button'><img src='/assets/103-map.png'><label>New Report Schedule</label></div>
  </div>
</div>