<script id="popup-template" type="text/x-handlebars-template">
	<div>
    <div style="cursor: pointer; position: absolute; z-index: 100000; left: 5px; top: 13px" class="tipsy tipsy-west"></div>
    <div style="cursor: pointer; border: 1px solid #ccc; font-size: 10px; padding: 3px; color: white; background-color: #262626; margin-left: 10px">
	    <b>Test Car 99xx99</b><br/>
      <i>10 minutes ago</i>
    </div>
    <div class="popup-details" style="display: none; border: 1px solid #ccc; font-size: 10px; padding: 10px; margin-left: 10px; background-color: white">
      <b>Addresse:</b><br/>
      29 Rue de Gaulles<br/>
      <b>Speed</b><br/>
      29 km/h<br/>
      <b>Warnings:</b><br/>
      <span>None</span><br/>
      <b>Closest Place:</b><br/>
      <span>Hotel de Ville (200m)</span>
    </div>
  </div>
</script>