development: &development
  adapter: postgis
  database: REPLACE_WITH_YOUR_DEVELOPMENT DATABASE
  host: REPLACE_WITH_YOUR_DEVELOPMENT_HOST
  username: REPLACE_WITH_YOUR_DEVELOPMENT_USERNAME
  password: REPLACE_WITH_YOUR_DEVELOPMENT_PASSWORD
  timeout: 5000
  encoding: utf8
  min_messages: warning

test:
  <<: *development
  database: trackwane_test

production:
  <<: *development
  host: production_host
  database: REPLACE_WITH_YOUR_PRODUCTION_DATABASE
  username: REPLACE_WITH_YOUR_PRODUCTION_USERNAME
  password: REPLACE_WITH_YOUR_PRODUCTION_PASSWORD
