<script id="editor-template" type="text/x-handlebars-template">
  <form>
  <fieldset>
    <label>Alarm</label>
    <select id="alert_alertable_id" name="alert[alertable_id]">
      {{#each alarms}}
        <option value="{{id}}" data-type="{{type}}">{{name}}</option>
      {{/each}}
    </select>
    <label>Destination</label>
    <input name="alert[destination]" id="alert_destination" value="{{attributes.destination}}" type="text" />
    <div class="buttons">
      {{#if attributes}}
        <input value="{{attributes.id}}" type="hidden" name="id" />
        <button class="save btn success">Accept</button>
      {{else}}
        <button class="btn success create">Accept</button>
      {{/if}}
      <button class="cancel btn">Cancel</button>
    </div>
  </fieldset>
  </form>
</script>