<%= render :partial => "listing" %>
<%= render :partial => "editor" %>

<div id="canvas">
  <div class="column">
    <div class="listing"></div>
    <button class="new-alert btn primary">New Alert</button>
  </div>
  <div class="editor"></div>
</div>

<script type="text/javascript">
  $(function() {
    new App.Controllers.AlertsController({el: "#canvas", speed_alarms: gon.speed_alarms, geofence_alarms: gon.geofence_alarms, alerts: gon.alerts});
  });
</script>