<%= render :partial => "listing" %>
<%= render :partial => "editor" %>

<div id="canvas">
  <div class="listing">
    <table>
      <thead>
        <tr>
          <th>Alert</th>
          <th>Recipient</th>
          <th>Medium</th>
          <th>Destination</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>95km/h Speed Alert</td>
          <td>olivier.kouame</td>
          <td>SMS</td>
          <td>07843247808</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="editor"></div>
  <div class="toolbar">
    <div class='button'><img src='/assets/103-map.png'><label>New Alert</label></div>
  </div>
</div>