<%=render :partial => "map/realtime/trackers/editor" %>
<%=render :partial => "map/realtime/trackers/listing" %>

<div id="tracker-panel" class="panel">
  <a id="btn-new-tracker" class="btn-add" href="#">+ Add Tracker</a>
  <div id="trackers" class="listing" style="border-top: 3px solid #222"></div>
  <div class="editor" style="position: absolute; top: 200px; right: 270px; padding: 10px"></div>
</div>