<script id="realtime-device-template" type="text/x-handlebars-template">
  <table id="realtime-devices" class="sidecolumn">
    {{#each models}}
      <tr data-id="{{attributes.device_id}}">
        <td>
          <img style="float: left; margin-top: 4px; margin-right: 10px; border: 1px solid #ccc" width="30" height="30" src="/assets/unknown.png" />
            <a href="#" data-id="{{attributes.id}}" style="font-size: 10px; font-family: Verdana; font-weight: bold">{{attributes.name}}</a><br/>
            <i style="font-size: 10px" class="address">{{attributes.address}}</i>
            <br/>
            <i> Proche de Treichville Centre</i>
          </div>
        </td>
      </tr>
      {{/each}}
  </table>
</script>