<%=render :partial => "map/realtime/geofence_alarms/editor" %>
<%=render :partial => "map/realtime/geofence_alarms/listing" %>

<div id="geofence-alarm-panel" style="display: none">
  <a id="btn-new-geofence-alarm" class="btn-add" href="#">+ Add Geofence Alarm</a>
  <div id="geofence-alarms" class="sidecolumn"></div>
  <div class="editor" style="position: absolute; top: 200px; right: 270px; padding: 10px"></div>
</div>