<%=render :partial => "map/realtime/places/editor" %>
<%=render :partial => "map/realtime/places/listing" %>

<div id="place-panel">
  <a id="btn-new-place" class="btn-add" href="#">+ Add Place</a>
  <div class="listing" class="sidecolumn"></div>
  <div class="editor" style="position: absolute; top: 200px; right: 270px; padding: 10px"></div>
</div>