fieldset {border-width: 0}
fieldset label {font-weight: bold; font-size: 11px; display: block; margin-bottom: 5px; margin-top: 10px}
fieldset select {padding: 3px 5px; font-size: 11px; border: 1px solid #666}
fieldset input {padding: 3px 5px; font-size: 11px; border: 1px solid #666}