<script id="devices-template" type="text/x-handlebars-template">
  <ul>
  {{#each models}}
    <li><input class="device" type="checkbox" value="{{attributes.id}}" /> {{attributes.display_name}}</li>
  {{/each}}
  </ul>
</script>