<script id="parameters-template" type="text/x-handlebars-template">
  <fieldset>
    <label>Report Type</label>
    <select><option value="speed">Speed</option><option value="distance">Distance</option></select>
    <label>From</label>
    <input class="datepicker" type="text" />
    <label>To</label>
    <input class="datepicker" type="text" />
  </fieldset>
</script>