:javascript
  $(function() {
    Ext.application({
      name: 'Gowane',
      autoCreateViewport: false,
      controllers: ['Gowane.controllers.GpsEvents'],
      launch: function() {
        Ext.create('Gowane.stores.GpsEvents', {
          storeId: "GpsEventStore"
        });
        new Ext.Viewport({
          layout : 'border',
          items : [
            { xtype: 'menu', region : 'north'},
            { region : 'west', width: 900, xtype: 'panel', split: true},
            { xtype: 'sharedsidecolumn', region: 'center', layout: 'vbox', layoutConfig: {align: 'stretch'},
              items: [{xtype: 'panel', width: 300}]
            }
          ]
        });
      }
    });
  });
