<script id="presentation-template" type="text/x-handlebars-template">
  <div class='presentation'>
    <div id="chart" style="height: 100%"></div>
  <div>
</script>

<script id="devices-template" type="text/x-handlebars-template">
  <div class='devices'>
    <ul>
    {{#each models}}
      <li><input type="checkbox" /> {{attributes.display_name}}</li>
    {{/each}}
    </ul>
  <button class="blue-button"><div>Run Report</div></button>
  <div>
</script>

<script id="parameters-template" type="text/x-handlebars-template">
    <div class='parameters'>
     <fieldset>
       <label>Report Type</label>
       <select><option value="speed">Speed</option><option value="distance">Distance</option></select>
    <label>From</label>
       <input class="datepicker" type="text" />
    <label>To</label>
       <input class="datepicker" type="text" />
      <div>
</script>

<script type="text/javascript">
  $(function() {
    Ext.application({
      name: 'Gowane',
      autoCreateViewport: false,
      controllers: ['Gowane.controllers.Reports'],
      launch: function() {
        new Ext.Viewport({
          layout : 'border',
          items : [
            { xtype: 'panel', contentEl: 'menu', region : 'north'},
            {region : 'center', xtype: 'panel', id: 'canvas', layout: 'fit'}
          ]
        });
      }
    });
  });
</script>