:javascript
  $(function() {
    $.App.help = "distance";
    $.App.account_id = #{session[:account_id]};
    Ext.application({
      name: 'Gowane',
      autoCreateViewport: false,
      controllers: ['Gowane.controllers.Reports'],
      launch: function() {
        new Ext.Viewport({
          layout : 'border',
          items : [
            { xtype: 'menu', region : 'north'},
            { region : 'west', width: 900, xtype: 'panel', split: true},
            { xtype: 'tabpanel', region: 'center',
              items: [
                { xtype: 'panel',
                  flex: 1,
                  title: 'Report Builder',
                  layout: {type: 'vbox', pack: 'start', align: 'stretch'},
                  fbar: [
                    {xtype: 'button', id: 'save', text: 'Save'},
                    {xtype: 'button', id: 'run', text: 'Run'}
                  ],
                  items: [
                    {xtype: 'report_builder', flex: 1},
                    {xtype: 'selectable_device_list', flex: 5}
                  ]
                 },
                 { xtype: 'panel', title: 'Saved Reports'}
              ]
            }
          ]
        });
      }
    });
  });
