:javascript
  $(function() {
    new Ext.Viewport({
      layout : 'border',
        items : [
        {
          region: 'north', height : 28, contentEl: "header", id: "ext-header"
        },
        {
          region : 'east', width: 400, split: true,
          layout: {
            type: 'vbox',
            align: 'stretch'
          },
          layoutConfig: {pack: 'start'}, items: [
            Gowane.Components.Info.ReportBuilder, Gowane.Components.Lists.Devices
          ]
        },
        {
          region: 'center',
          layout: {
            type: 'vbox',
            align: 'stretch'
          },
          layoutConfig: {pack: 'start'},
          items: [Gowane.Components.Lists.StopReport, Gowane.Components.Charts.StopReport]
        }
      ]
    });
    $("#ext-header .x-panel-bwrap").css("overflow", "visible");
    $("#ext-header .x-panel-bwrap .x-panel-body").css("overflow", "visible");
    new Gowane.Views.Map({el: "#map"});
  });
