:javascript
  $(function() {
    Ext.application({
      name: 'Gowane',
      autoCreateViewport: false,
      controllers: ['Gowane.controllers.Geofences'],
      launch: function() {
        Ext.create('Gowane.stores.Geofences', {
          storeId: "GeofenceStore"
        });
        new Ext.Viewport({
          layout : 'border',
          items : [
            { xtype: 'menu', region : 'north'},
            { region : 'west', width: 900, xtype: 'geofences_map', split: true},
            { xtype: 'sharedsidecolumn', region: 'center', layout: 'fit', layoutConfig: {align: 'stretch'},
              items: [{xtype: 'availablegeofences', width: 300}]
            }
          ]
        });
      }
    });
  });
