:javascript
  $(function() {
    $.App.help = "historical";
    $.App.account_id = #{session[:account_id]};
    Ext.application({
      name: 'Gowane',
      autoCreateViewport: false,
      controllers: ['Gowane.controllers.Historical'],
      launch: function() {
        new Ext.Viewport({
          layout : 'border',
          items : [
            {xtype: 'menu', region : 'north'},
            {region : 'west', width: 900, xtype: 'panel', split: true, layout: {type: 'vbox', pack: 'start', align: 'stretch'}, items: [
              {xtype: 'historical_map', flex: 6},
              {xtype: 'full_gps_event_list', flex: 2},
              {xtype: 'slider', height: 20, margin: '2 0 0 0'}
            ]},
            {region: 'center', xtype: 'sharedsidecolumn', flex: 1, layout: {type: 'vbox', pack: 'start', align: 'stretch'}, items: [
              {xtype: "date_selection"},
              {xtype: 'summary_device_list'}
            ]}
          ]
        });
      }
    });
  });
