#map{:style=>"height: 100%; width: 100%; border-top: 1px solid #edf1f2"}

:javascript
  $(function() {
    Ext.application({
      name: 'Gowane',
      autoCreateViewport: false,
      controllers: ['Gowane.controllers.Places'],
      models: ['Gowane.models.Place'],
      stores: ['Gowane.stores.Places'],
      launch: function() {
        new Ext.Viewport({
          layout : 'border',
          width: '100%',
            items : [
            {height : 28, region : 'north', contentEl: "header", id: "ext-header"},
            {region : 'west', width: 900, contentEl: "map", split: true},
            {xtype: 'sharedsidecolumn', region: 'center', items: [{xtype: 'availableplaces', width: '100%'}]}
          ]
        });
        new Gowane.Views.Map({el: "#map"});
      }
    });

  });
