:javascript
  $(function() {
    Ext.application({
      name: 'Gowane',
      autoCreateViewport: false,
      controllers: ['Gowane.controllers.Places'],
      models: ['Gowane.models.Place'],
      stores: ['Gowane.stores.Places'],
      launch: function() {
        new Ext.Viewport({
          layout : 'border',
            items : [
            { height : 28, region : 'north', contentEl: "header", id: "ext-header"},
            { region : 'west', width: 900, xtype: 'placesmap', split: true},
            { xtype: 'sharedsidecolumn', region: 'center', layout: 'vbox', layoutConfig: {align: 'stretch'},
              items: [
                {width: 300, height: 100, html: '<p>Hello World</>', title: "Point of Interest Manager"},
                {xtype: 'availableplaces', width: 300}
              ]
            }
          ]
        });
      }
    });

  });
