:javascript
  $(function() {
    Ext.application({
      name: 'Gowane',
      autoCreateViewport: false,
      controllers: ['Gowane.controllers.Realtime'],
      launch: function() {
        Ext.create('Gowane.stores.Devices', {
          storeId: "DeviceStore"
        });
        Ext.create('Gowane.stores.Groups', {
          storeId: "GroupStore"
        });
        new Ext.Viewport({
          layout : 'border',
          items : [
            { xtype: 'menu', region : 'north'},
            { region : 'west', width: 900, xtype: 'realtime_map', split: true},
            { xtype: 'sharedsidecolumn', region: 'center', layout: {type: 'vbox', pack: 'start', align: 'stretch'},
              items: [{xtype: 'summary_device_list', width: 300}, {xtype: 'summary_group_list', width: 300}]
            }
          ]
        });
      }
    });
  });
