:javascript
  $(function() {
    $.App.Help = "realtime";
    Ext.application({
      name: 'Gowane',
      autoCreateViewport: false,
      controllers: ['Gowane.controllers.Realtime'],
      launch: function() {
        new Ext.Viewport({
          layout : 'border',
          items : [
            { xtype: 'menu', region : 'north'},
            { region : 'west', width: 900, xtype: 'panel', split: true, layout: {type: 'vbox', pack: 'start', align: 'stretch'}, items: [
              {xtype: 'realtime_map', flex: 3},
              {xtype: 'realtime_event_list', flex: 1}
            ]},
            { xtype: 'sharedsidecolumn', region: 'center', layout: {type: 'vbox', pack: 'start', align: 'stretch'},
              items: [{xtype: 'selectable_device_list', width: 300}]
            }
          ]
        });
      }
    });
  });
