<script id="new-place-panel-template" type="text/x-handlebars-template">
  <div class="action panel">
    <img class="closelabel" src="/assets/closelabel.png" />
    <h1 style="margin-bottom: 5px">New Place</h1>
    <p>Please choose a name and category below for your new place and place it on the map.</p>
  <fieldset>
    <label>Name</label>
    <input id="place_name" name="place[name]" type="text" />
    <label>Category</label>
    <select id="place_category" name="place[category]">
      <option>Bar</option>
    </select>
    <button style="float: right; margin-top: 20px" class="blue-button"><div>Accept</div></button>
  </fieldset>
  </div>
</script>