<script id="new-place-panel-template" type="text/x-handlebars-template">
  <div>
    <h1>New Place</h1>
    <p>Please choose a name and category below for your new place and place it on the map.</p>
      <form>
    <fieldset>
      <label for="place_name">Name</label>
      <input id="place_name" name="place[name]" type="text" />
      <label for="place_category">Category</label>
      <input id="place_category" name="place[category]" type="text" />
      <button class="success btn accept">Accept</button>
      <button class="btn cancel">Cancel</button>
    </fieldset>
        </form>
  </div>
</script>