<script id="place-popup-template" type="text/x-handlebars-template">
	<div>
    <div class="places popup">
	    <b>{{name}}</b><br/>
      <div class="places actions">
        <a href="#" class="remove">Remove</a>
      </div>
    </div>
  </div>
</script>