:javascript
  $(function() {
    Ext.application({
      name: 'Gowane',
      autoCreateViewport: false,
      controllers: ['Gowane.controllers.Places'],
      launch: function() {
        new Ext.Viewport({
          layout : 'border',
          items : [
            { xtype: 'panel', contentEl: 'menu', region : 'north'},
            { region : 'center', xtype: 'placesmap', split: false},
            { xtype: 'panel', width: 300, region: 'east'}
          ]
        });
      }
    });
  });
